---
layout : default
---

<div class="row-fluid">
  <div class="span12">
    {{#collection.paginator}}
      <div class="{{ collection.resource_name}}">
      {{#summary_present}}
        <h3 class="title"><a href="{{url}}">{{  title  }}</a> <span class="date">{{ date }}</span></h3>

        {{{ utf_summary }}}
      {{/summary_present}}
      {{^summary_present}}
        <h3 class="schild">{{ title }}</h3>
      {{/summary_present}}
      </div>
    {{/collection.paginator}}

    <ul class="pagination">
    {{#collection.paginator_navigation}}
      {{#is_active_page}}
        <li class="active"><a href="{{url}}">{{name}}</a></li>
      {{/is_active_page}}
      {{^is_active_page}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/is_active_page}}
    {{/collection.paginator_navigation}}
    </ul>
  </div>
</div>
